@tailwind base;

@tailwind components;

/* * {
  outline: 1px solid rgba(255, 0, 0, 0.1);
}
* * {
  outline: 1px solid rgba(255, 0, 0, 0.1);
}
* * * {
  outline: 1px solid rgba(255, 0, 0, 0.1);
} */

@tailwind utilities;
